/**/
:root{
    --primary: #3E8989;
    --secondaty: #564D65;
    --text: #1A181B;
    --box: #2CDA9D;
    --stuff: #2CDA9D;
}

/*reset*/
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*base styles*/
body{
    background: var(--secondaty);
    overflow-x: hidden;
}
.button{
    background: none;  
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}
.button:hover{
    color: #222;
    background: var(--primary);
}
input,textarea{
    background-color: rgba(255,255,255,0.1);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893D8;
    color:#f2f2f2;
}

/*fonts*/

/**/
@media screen and (min-width: 620px) {

}
/**/
@media screen and (min-width: 960px) {
    
}
/**/
@media screen and (min-width: 1200px) {
    
}