/**/
:root{
    --primary: #313E50;
    --secondaty: #3A435E;
    --acent:#455561;
    --text: #ffffff;
    --bacground: #5C6672;
    --nutral: #6C6F7F;
}

/*reset*/
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*base styles*/
body{
    background: var(--secondaty);
    overflow-x: hidden;
    font-family: "Handjet";

}
video{
    max-width: 100%;
    height: auto;
}
.button{
    background: none;  
    border: 2px solid var(--bacground);
    color: var(--text);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
    margin-bottom: 10px;
}
.button:hover{
    color: #222;
    background: var(--nutral);
}


/*fonts*/
@font-face{
    font-family: "Handjet";
    src: url(Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}
h1,h2,h3,h4{
    color: var(--text);
    font-weight: normal;
}
p,a,li{
    color: var(--text);
}
h1,h3{
    font-size: 1.2em;

}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}

/*mobile styles*/
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}
.site-nav{
    margin: 0 20px;   
}
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--acent);
}
#welcome{
    padding: 0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img{
    grid-column: 6/9;
}
.welcome-img img{
    width: 150%;
}
.welcome-text a{
    margin: 20px 0;
}
.line-box{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 5px 20px 20px 5px;
    background-color: var(--bacground);
}
.line-box h3{
    margin-bottom: 0;
    text-align: center;
    font-size: 1.1em;
}

.projects a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
}
/* The * grabs everything inside the a */
.projects a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
}
.projects h4{
    color: var(--acent);
}

.line-box h3{
    text-align: center;
}
.line-box ul{
    margin: 40px 0;
}
.line-box li{
    padding: 10px;
    background: rgba(0,0,0,0.2);
    grid-column: span 4;
    text-align: center;
}
.line-box img{
    height: 80px;
    margin: 10px auto
}
.big-box{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.big-box video, p, h4, li{
    max-width: 90%;
    margin-left: 5%;
}
#vmsetup-box p, h4, li, ul{
    padding: 10px;
}
#ssh-git-box p, h4, li, ul{
    padding: 10px;
}
#apache2-box p, li, ul{
    padding: 10px;
}
#github-box p, li, ul{
    padding: 10px;
}
#rmgrw-more, #rmvm-more, #rmsg-more, #rmvmlg-more, #rmwc-more, #rma2-more {
    display: none;
}
.button-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    box-sizing: border-box;
}
.rmvm, .rmsg, .rmvmlg, .rmwc, .rma2, .rmgrw{
    grid-column: 5;
}
#myBtn{
    grid-column: 5;
}
footer{
    padding: 30px 20px;
    background-color: var(--bacground);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;
}
footer .copyright{
    grid-column: 1/5;
    font-size: 1.5em;
}
footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
}
footer li{
    margin: 0 6px;
}
footer img{
    width: 35px;
}

/* small tablet styles*/
@media screen and (min-width: 620px) {
    .welcome-text{
        grid-column: 1/5;
    }
    .welcome-img{
        grid-column: 5/9;
    }
    .welcome-img img{
        width: 100%;
    }
    .projects{
        margin-top: 40px;
    }
    .projects a{
        grid-column: span 4;
        display: block;
        margin: 20px 0;
    }
    .projects a:last-child{
        grid-column: 3/7;
    }
    .projects a *{
        max-width: 60%;
        margin: 10px 20px;
    }
    .projects h4{
        text-align: center;
    }
    .line-box{
        padding: 30px 100px;
    }
    footer{
        background-size: 20%;
    }
}
/* large tablet styles */
@media screen and (min-width: 960px) {
    body{
        font-size: 18px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
    }
    .leading{
        margin: 20px 0;
    }
    .site-nav{
        padding: 0 20px;
    }
    .site-nav h1{
        grid-column: 1/3;
    }
    .site-nav ul{
        display: flex;
        grid-column: 5/10;
        justify-content: flex-end;
        align-self: center;
    }
    .site-nav li{
        margin-left: 20px;
    }
    .welcome-text{
        align-self: center;
    }
    #welcome{
        padding-bottom: 40px;
    }
    .projects a:nth-child(1){
        grid-column: 2/4;
    }
    .projects a:nth-child(2){
        grid-column: 4/6;
        padding-top: 140px;
    }
    .projects a:nth-child(3){
        grid-column: 6/8;
    }
    .projects a *{
        max-width: 80%;
        margin: 10px 10%;
    }
    .line-box{
        padding: 30px 20px;
    }
    .line-box ul{
        margin: 40px auto;
    }
    .line-box li{
        grid-column: span 2;
    }
    footer{
        padding: 40px 20px;
        background-size: 25%;
    }
}

/* big display styles*/
@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }
    #welcome, .line-box, #contact{
        padding: 90px 0;
    }
    .projects a:nth-child(1){
        grid-column: 1/3;
    }
    .projects a:nth-child(3){
        grid-column: 7/9;
    }
    .projects a *{
        max-width: 100%;
        margin: 30px 0;
    }
    footer .copyright{
        font-size: 1.25em
    }
    footer{
        padding: 30px 0;
        background-size: 30%;
    }
    footer img{
        width: 60px;
    }
    .big-box{
        font-size: 1.1em;
    }
}
